  <!--sidebar start-->
  <div class="sidebar">
    <center>

      <h4>{{request.user.first_name}}</h4>
      <h6 style="color: rgb(255, 255, 255);">( Student )</h6>

    </center>

    <a href="/admin-dashboard"><i class="fas fa-tachometer-alt"></i><span>Admin Dashboard</span></a>
    <a href="/sadmin/product-category"><i class="fas fa-book"></i><span>Product Category</span></a>
    <a href="/sadmin/product-details"><i class="fas fa-sort-numeric-up"></i><span>Products</span></a>
    <a href="/sadmin/product-orders"><i class="fas fa-sort-numeric-up"></i><span>Orders</span></a>
    <a href="/sadmin/vendor"><i class="fas fa-sort-numeric-up"></i><span>Vendor</span></a>
  </div>
  <!--sidebar end-->