{% extends 'index.html' %}
{% load static %}

{% block body %}

{% load widget_tweaks %}

<!-- Breadcrumb -->
<div id="breadcrumb">
    <div class="container">
        <h2 class="title">User Profile</h2>
        
        <ul class="breadcrumb">
            <li><a href="{% url 'index' %}" title="Home">Home</a></li>
            <li><span>My Account</span></li>
        </ul>
    </div>
</div>

        <!-- <div style="padding: 2rem" class="container">
           <div class="row justify-content-center align-items-center d-flex padding-15">
               <div class="col-md-8">
                   <div style="border: 2px solid #000000; width: fit-content; padding: 2rem">
                       <img style="padding: 1rem" height="100" width="100" src="{% static 'img/profile.png' %}" alt="">
                   <h3 style="font-size: 4rem; text-transform: uppercase; line-height: 35px; margin: 0;" class="text-info">{{ user }}</h3>
                   <h3 style="font-size: 2rem; text-transform: uppercase; line-height: 35px; margin: 0" class="text-info">{{ user.user.email }}</h3>
                   <h3 style="font-size: 2rem; text-transform: uppercase; line-height: 25px; margin: 0" class="text-info">{{ user.mobile }}</h3>
                   </div>

               </div>
           </div>
        </div> -->

        <div class="container" style="margin-bottom: 50px">
            <div class="row gutters">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                <img style="padding: 1rem" height="100" width="100" src="{% static 'img/profile.png' %}" alt="">
                            </div>
                            <h5 class="text-info">{{ user }}</h5>
                            <h6 class="text-info">Email- {{ user.user.email }}</h6>
                            <h6 class="text-info">Phone- {{ user.mobile }}</h6>
                            <h6 class="text-info">Address - {{ user.address }}-</h6>
                        </div>
                    </div>
                </div>
            </div>
            </div>




            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">

                <form method="POST" autocomplete="off" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="username">First Name</label>
                        {% render_field gfrom.first_name|attr:'required:true' class="form-control" placeholder="First Name" %}
                    </div>

                    <div class="form-group">
                        <label for="username">Last Name</label>
                        {% render_field gfrom.last_name|attr:'required:true' class="form-control" placeholder="Last Name" %}
                    </div>




                    <div class="form-group ">
                        <label for="mobile">Contact</label>
                        {% render_field gfrom.mobile|attr:'required:true' class="form-control" placeholder="Contact Number" %}
                    </div>
                    <div class="form-group ">
                        <label for="mobile">Address</label>
                        {% render_field gfrom.address|attr:'required:true' class="form-control" placeholder="Address" %}
                    </div>

                    <br>


                    <button type="submit" class="btn btn-success" style="border-radius: 0%;">Update</button>
                </form>
            </div>
            </div>
            </div>

{% endblock body %}