<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>

<div id="ajaxContent" class="content-container">

    </div>
<script>

    var ajaxDiv = $('#ajaxContent');
$.ajax({
    url:"http://127.0.0.1:8001/render_div/",
    datatype:"html",
    type: "POST",
    success: function(data) {
        ajaxDiv.replaceWith(ajaxDiv.html(data));
    }
  });

</script>
</body>
</html>